/* Global CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body Section */
body {
    background-color: #d9dcd6;
}

/* Header - Navigation Bar */
.header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #003FC7;
    color: #ffffff;
}

/* Navigation Bar - Logo*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* Navigation Bar - Menu Buttons*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #AD8934;
    text-decoration: underline;
}

p {
    font-size: 16px;
}

/* Hero Section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Main Content section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #345AAD;
    color: #ffffff;
}

.main-content img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.main-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Aside Content section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6493FA;
}

.benefits-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits-content {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits-content h3 {
    margin-bottom: 10px;
    text-align: center;
}


/* Footer section */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
